[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/miniply"]
	path = external/miniply
	url = https://github.com/vilya/miniply.git
[submodule "CLI11"]
	path = external/CLI11
	url = https://github.com/CLIUtils/CLI11
[submodule "external/toml11"]
	path = external/toml11
	url = https://github.com/ToruNiina/toml11.git
[submodule "toml11"]
	path = toml11
	url = https://github.com/ToruNiina/toml11.git
